.status_wrap {
    width: 100%;
}

.status_title {
    margin-top: 6rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif !important;
    color: #444f60;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    text-align: center;
  }

.status_content {
    width: 100%;
}